@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Forget Password</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<div class="main-agileinfo">
	<div class="agileits-top">

		<form asp-action="SendEmail">
			<input class="text" asp-for="Email" placeholder="Recovery Email" required="">
			<span asp-validation-for="Email" class="text-danger"></span>
			<br />

			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>

