@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Reset Password</h1>

<div asp-validation-summary="All" class="text-danger"></div>

<div class="main-agileinfo">
	<div class="agileits-top">

		<form asp-action="ResetPassword">
			<input class="text" asp-for="NewPassword" placeholder="New Password" required="">
			<span asp-validation-for="NewPassword" class="text-danger"></span>
			<br />
			<input class="text" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
			<br />

			<input type="submit" value="Reset">
		</form>
	</div>
</div>

