@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Employee</h1>

<br />
<br />

<form asp-action="Create" enctype="multipart/form-data">
    
    <partial name="PartialViews/CreateEditEmployeePartial"></partial>

    <div>
        <input type="submit" value="Create" class="btn btn-primary mt-2" />
    </div>

    <a asp-controller="Employee" asp-action="Index" class="btn btn-secondary mt-2">Back to List</a>
</form>

@section ValidationScriptSection{
    <partial name="_ValidationScriptsPartial"></partial>
}